/* CSS Document */
textarea { width:368px !important; }

.container { width:730px !important; }

.span-9,
.span-10,
.span-11,
.span-12,
.span-13,
.span-14 { width:320px !important; }
.span-15 { width:361px !important; }
.span-16 { width:402px !important; }
.span-17 { width:443px !important; }
.span-18 { width:484px !important; }
.span-19 { width:525px !important; }
.span-20 { width:566px !important; }
.span-21 { width:607px !important; }
.span-22 { width:648px !important; }
.span-23 { width:689px !important; }
.span-24 { width:730px !important; }

.breadcrumb-toolbar,
.breadcrumb-navigation { width:388px !important; }

.breadcrumb-navigation { background-position:362px 0px !important; }

.breadcrumb-navigation a,
.breadcrumb-navigation span { float:left; }

#map_canvas {
width: 350px; 
height: 250px;
}
